@charset "utf-8";

[v-cloak] {
    display: none;
}

$green: #62902c;
$dark-red: #911035;
$beige: #edbe5f;

$primary: $green;
$link: $dark-red;
$grey-light: $beige;

$modal-content-width: 920px;

//@import "~bulma/bulma";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/grid/_all.sass";

@import "~bulma/sass/layout/_all.sass";

@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/image.sass";

@import "~bulma/sass/components/level.sass";
@import "~bulma/sass/components/media.sass";
@import "~bulma/sass/components/modal.sass";



//https://github.com/jgthms/bulma/issues/1007
//https://codepen.io/jmperez/pen/yYjPER
//https://alligator.io/vuejs/lazy-image/
.header {
    @include until($tablet) {
        min-height: 200px;
    }
    padding: 0;
}

.navbar {
    @include until($tablet) {
        padding: 1rem 0 .5rem 0;
    }
    border-bottom: solid 3px $beige;
    background: #ffffffe8;
    margin-bottom: 0 !important;
    padding: 1.5rem 0 1rem 0;
    font-weight: bold;
}

.beige-bottom {
    border-bottom: solid 3px $beige;
}

.feature-image {
    cursor: pointer;
    padding: 10px;
    box-shadow: #00000045 0px 0px 5px;
    margin: .75em;
    @include from($tablet) {
        margin: .75em 4.75em;
    }

}

.menu-section {
    margin: 2.5em 0;
}

.menu-section:after {
    height: 1px;
    display: block;
    width: 100px;
    background: $beige;
    border-right: 1px white;
    text-align: center;
    margin:: 24px auto;
    content: '';
}

.papyrus {
    font-family: "Papyrus", sans-serif;
}

.menu-item {
    padding: 10px;
}

.media img {
    max-height: 40px;
    width: auto;
}

.i-stars {
    background: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png) no-repeat;
    background-size: 132px 560px;
    display: inline-block;
    vertical-align: middle;
}

.i-stars.large-4 {
    width: 132px;
    height: 24px;
    background-position: 0 -168px;
}

.i-stars.large-4-half {
    width: 132px;
    height: 24px;
    background-position: 0 -192px;
}
