@charset "utf-8";

$green: #62902c;
$dark-red: #911035;
$beige: #edbe5f;

$primary: $green;
$link: $dark-red;
$grey-light: $beige;

//@import "~bulma/bulma";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/grid/_all.sass";

@import "~bulma/sass/layout/_all.sass";

@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/image.sass";

@import "~bulma/sass/components/level.sass";
@import "~bulma/sass/components/media.sass";



//https://github.com/jgthms/bulma/issues/1007

.has-bg-img {
    background: url('/assets/images/pho-bo.jpg') center center;
    background-size: cover;
}

.header {
    @include until($tablet) {
        min-height: 200px;
        margin-top: 72px;
    }
    padding: 0;
}

.navbar {
    @include until($tablet) {
        padding: 1rem 0 .5rem 0;
    }
    border-bottom: solid 3px $beige;
    background: #ffffffe8;
    margin-bottom: 0 !important;
    padding: 1.5rem 0 1rem 0;
}

.beige-bottom {
    border-bottom: solid 3px $beige;
}

.on-hero {
    @include from($tablet) {
        margin-top: -68px;
        background: #ffffffb0;
    }

    @include until($tablet) {
        border-bottom: solid 3px $beige;
    }

    padding: 20px 10px 10px 10px;
}

.papyrus {
    font-family: "Papyrus", sans-serif;
}

.menu-item {
    padding: 10px;
}

.media img {
    max-height: 40px;
    width: auto;
}

.i-stars {
    background: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png) no-repeat;
    background-size: 132px 560px;
    display: inline-block;
    vertical-align: middle;
}

.i-stars.large-4 {
    width: 132px;
    height: 24px;
    background-position: 0 -168px;
}

.i-stars.large-4-half {
    width: 132px;
    height: 24px;
    background-position: 0 -192px;
}
